.performance {
  padding: 154px 20px 63px 20px;
  @include tablet-small {
    padding-top: 75px;
  }
  @include mobile {
    padding-left: 5px;
    padding-right: 5px;
  }

  &__block {
    margin-bottom: 94px;
    position: relative;
    z-index: 1;
  }

  &__block-title {
    max-width: 930px;
    font: var(--ff-120-700);
    line-height: 100%;
    color: $text-black;
    margin-inline: auto;

    @include tablet {
      font: var(--ff-80-700);
      text-align: center;
    }
    @include tablet-small {
      font: var(--ff-60-700);
    }
    @include mobile {
      font: var(--ff-40-700);
    }
  }
  &__block-block {
    @include f-c-c;
    gap: 10px;
    @include tablet-small {
      flex-wrap: wrap;
    }
  }
  &__block-text {
    font: var(--ff-120-700);
    line-height: 100%;
    color: $text-black;

    @include tablet {
      font: var(--ff-80-700);
    }
    @include tablet-small {
      font: var(--ff-60-700);
    }
    @include mobile {
      font: var(--ff-40-700);
    }
  }
  &__block-btn {
    display: inline-block;
    font: var(--ff-28-500);
    color: $text-white;
    @include tablet {
      font: var(--ff-25-500);
    }
    @include mobile {
      font: var(--ff-16-500);
    }
  }
  .btn {
    display: inline-block;
    padding: 22px;
    border-radius: 90px;
    background: $text-black;
    transition: var(--transition);
    &:hover {
      background: lighten($text-black, 15%);
    }
  }
  &__block-content {
    position: relative;

    &::after {
      @include pseudo-element;
      width: 2px;
      height: 75px;
      background: $background-before;
      transform: rotate(90deg);
      left: 150px;
      bottom: -30px;
    }
  }
  &__block-scroll {
    display: inline-block;
    font: var(--ff-16-500);
    line-height: 187%;
    color: $text-white;
    transform: rotate(90deg);
    bottom: -120px;
    left: -40px;
    position: absolute;
  }

  &__block-cloud {
    position: absolute;
    z-index: -1;
  }

  &__section {
    @include f-c-c;
  }
  &__section-img {
    max-width: 126px;
    max-height: 198px;
    cursor: pointer;
    z-index: 2;
  }
  &__section-info {
    max-width: 683px;
    padding: 13px 13px 13px 50px;
    display: flex;
    backdrop-filter: blur(40px);
    background: $background-info;
    border-radius: 20px;
    gap: 30px;
    margin-left: -45px;
    position: relative;
    z-index: 1;

    @include tablet-small {
      flex-direction: column;
    }
    @include mobile {
      padding-left: 50px;
      margin-left: -95px;
    }

    &::before {
      @include pseudo-element;
      width: 1px;
      height: 68px;
      background: $background-before;
      right: 118px;
      bottom: 0;

      @include tablet-small {
        display: none;
      }
    }
  }
  &__section-desc {
    font: var(--ff-14-400);
    line-height: 100%;
    color: $text-black;
    @include tablet-small {
      padding-bottom: 5px;
      border-bottom: 1px solid $border;
    }
    @include mobile {
      font: var(--ff-10-400);
      line-height: 140%;
      padding-left: 50px;
    }
  }

  &__section-btn {
    display: flex;
    align-items: center;
    font: var(--ff-25-400);
    line-height: 56%;
    color: $text-black;
    transition: var(--transition);

    @include tablet-small {
      justify-content: center;
      margin-top: -10px;
    }

    &:hover {
      color: $text-white;
    }
  }
}
