:root {
  --font-family: "Roboto", sans-serif;
  --transition: 0.2s all ease-in-out;

  --ff-20-300: 300 20px / normal var(--font-family);
  --ff-16-300: 300 16px / normal var(--font-family);

  --ff-60-400: 400 60px / normal var(--font-family);
  --ff-45-400: 400 45px / normal var(--font-family);
  --ff-40-400: 400 40px / normal var(--font-family);
  --ff-25-400: 400 25px / normal var(--font-family);
  --ff-23-400: 400 23px / normal var(--font-family);
  --ff-22-400: 400 22px / normal var(--font-family);
  --ff-14-400: 400 14px / normal var(--font-family);
  --ff-10-400: 400 10px / normal var(--font-family);

  --ff-28-500: 500 28px / normal var(--font-family);
  --ff-25-500: 500 25px / normal var(--font-family);
  --ff-16-500: 500 16px / normal var(--font-family);
  --ff-18-500: 500 18px / normal var(--font-family);

  --ff-120-700: 700 120px / normal var(--font-family);
  --ff-80-700: 700 80px / normal var(--font-family);
  --ff-60-700: 700 60px / normal var(--font-family);
  --ff-40-700: 700 40px / normal var(--font-family);
  --ff-16-700: 700 16px / normal var(--font-family);
}

$text-black: #000;
$primary: #0b8fed;
$text-white: #fff;
$border: #ffffff;
$background-before: rgba(255, 255, 255, 0.5);
$background-info: rgba(255, 255, 255, 0.1);
