// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

:root {
	--font-family: "Roboto", sans-serif;
	--transition: .2s all ease-in-out;

	--ff-25-500: 500 25px / normal var(--font-family);
	--ff-22-400: 400 22px / normal var(--font-family);
	--ff-16-700: 700 16px / normal var(--font-family);

	--c-primary: #0b8fed;
	--c-text-white: #fff;
	--c-border: #FFFFFF;
	--c-text-black:#000000;
}
