html,
body {
  height: 100%;
}
body {
  font-family: var(--font-family);
  background: rgb(230, 230, 230);
}
.wrapper {
  max-width: 1440px;
  margin-inline: auto;
  background: rgb(103, 143, 242);
}
.container {
  max-width: 930px;
  margin-inline: auto;
}
.h2-title {
  font: var(--ff-60-400);
  line-height: 50%;
  color: $text-white;
}
.h3-title {
  font: var(--ff-45-400);
  line-height: 31%;
  color: $text-white;
}
.desc {
  font: var(--ff-20-300);
  line-height: 150%;
  color: $text-white;
}
